/* Global */
*,
::after,
::before {
    margin: 0;
    padding: 0;
    text-indent: 0;
    box-sizing: border-box;
    -webkit-tap-highlight-color: rgb(0, 0, 0, .2);
}

html {
    font-size: 62.5% !important;
    font-family: Roboto, -apple-system, BlinkMacSystemFont, Segoe UI, Oxygen,
        Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    line-height: 1.15;
    background-color: #0b1622 !important;
    color: #b9cadd !important;
}

html,
body {
    height: 100%;
    width: 100%;
}

html.noscroll {
    position: fixed;
    overflow-y: scroll;
}

body.noscroll {
    position: relative;
}

/* Font Sizes */
.textLogo {
    font-size: clamp(2.5714rem, 2.7857rem, 3rem)
}

h1 {
    font-size: clamp(1.8868rem, 2.0426rem, 2.2rem)
}

h2 {
    font-size: clamp(1.3757rem, 1.48785rem, 1.6rem)
}

h3 {
    font-size: clamp(1.2rem, 1.3rem, 1.4rem)
}

input[type=text],
label,
p {
    font-size: clamp(1.2rem, 1.3rem, 1.4rem)
}

h4 {
    font-size: clamp(1.0631rem, 1.15155rem, 1.24rem)
}

h5 {
    font-size: clamp(1.018rem, 1.099rem, 1.18rem)
}

h6 {
    font-size: clamp(.9754rem, 1.0477rem, 1.12rem)
}

.textLogo,
h1,
h2,
h3,
h4,
h5,
h6,
input,
p,
textarea {
    cursor: default;
    -webkit-hyphens: manual;
    hyphens: manual;
    white-space: pre-wrap;
    word-break: break-word;
    overflow-wrap: break-word;
    transform-origin: left;
    font-weight: 400
}

.textLogo,
h1,
h2,
h3,
h4,
h5,
h6,
p {
    max-width: -moz-fit-content;
    min-width: -moz-fit-content;
    min-width: -webkit-fill-available;
    max-width: fit-content;
    min-width: fit-content
}

.lightgrey-color {
    color: #d3d3d3 !important;
}

.green-color {
    color: #7bd555 !important;
}

.teal-color {
    color: #40b9b7 !important;
}

.blue-color {
    color: #3db4f2 !important;
}

.orange-color {
    color: #f79a63 !important;
}

.purple-color {
    color: #b368e6 !important;
}

.peach-color {
    color: #fa7a7a !important;
}

.red-color {
    color: #e85d75 !important;
}

.green-background {
    background-color: #7bd555 !important;
}

.teal-background {
    background-color: #40b9b7 !important;
}

.orange-background {
    background-color: #f79a63 !important;
}

.purple-background {
    background-color: #b368e6 !important;
}

.red-background {
    background-color: #e85d75 !important;
}